<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NARRATIVE_API_KEY</key>
    <string>your_narrative_key_here</string>
    <key>CHARACTER_CHAT_API_KEY</key>
    <string>your_character_chat_key_here</string>
    <key>REALTIME_API_KEY</key>
    <string>your_realtime_key_here</string>
    <key>IMAGE_GENERATION_API_KEY</key>
    <string>your_image_generation_key_here</string>
</dict>
</plist>
